.search-form {
  .ant-form-item {
    margin-right: 8px;
    .ant-form-item-row {
      height: 100%;
    }
  }
}


.multiple-form {
  .multiple-form-row {
    width: 838px;
    margin-bottom: 20px;
    .multiple-form-item {
      width: 300px
    }
  }
}