.form-table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .form-wrapper {
    margin-bottom: 20px;
  }

  .table-wrapper {
    flex: 1;
    overflow-y: overlay;
  }
}
