.root-content-warpper {
  padding: 16px 16px 24px;
  flex: 1;
  background: #f1f5f9;

  .root-detail-warpper {
    padding: 24px;
    border-radius: 2px;
    background: var(--white-white, #fff);
    width: 100%;
    height: 100%;
    overflow: hidden;
    .root-detail-content {
      overflow-y: overlay;
      width: 100%;
      height: 100%;
    }
  }
}
