.IModal-body {
  background-color: #F8FAFC;
  padding: 24px 0px;
  .IMessage-label {
    color: #334155;
    display: inline-block;
    min-width: 84px;
    text-align: right;
    margin-right: 8px;
  }
  .row {
    margin-bottom: 20px
  }
  .row:last-child {
    margin-bottom: 0px;
  }
}