.root-warpper {
  height: 100%;
  width: 100%;
  color: #334155;
  font-family: PingFang SC;
  font-style: normal;

  ::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: gainsboro;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .ant-btn-primary {
    background-color: var(--ant-primary-color);
  }

  .ant-btn-primary,
  .ant-input:hover,
  .ant-input:focus,
  .ant-select-selector:focus,
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
  .ant-select:not(.ant-select-disabled) .ant-select-selector:focus,
  .ant-select:not(.ant-select-disabled) .ant-select-selector:focus-within,
  .ant-picker:hover,
  .ant-picker-focused {
    border-color: var(--ant-primary-color);
  }
}

.upload-icon {
  margin-bottom: 8px;
}

.upload-text {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  height: 16px;
}

.upload-hint {
  color: #64748B;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}


.upload-button {
  margin-top: 8px;
  text-align: center;

  .button {
    display: inline-block;
    width: 72px;
    height: 28px;
    line-height: 28px;
    gap: 4px;
    border-radius: 2px;
    border: 1px solid #E2E8F0;
    background: var(--white-white, #FFF);
  }
}