.root-warpper {
  height: 100%;
  width: 100%;
  color: #334155;
  font-family: PingFang SC;
  font-style: normal;

  ::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: gainsboro;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .ant-input-number {
    width: 100%;
  }

}


.ant-btn>.anticon+span,
.ant-btn>span+.anticon {
  margin-left: 4px;
}

.ant-modal {
  padding-bottom: 0;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;

  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-modal-body {
    padding: 20px;
  }
}

.ant-upload.ant-upload-drag {
  background-color: #fff;
}

.ant-form-inline {
  .ant-form-item-with-help {
    margin-bottom: 0;
  }

  .ant-form-item {
    margin-right: 0;
  }

}

.ant-popover {
  top: 37px;

  .ant-popover-inner-content {
    padding: 4px 12px;
  }

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    background: #FFF;
  }
}

.ant-spin-nested-loading {
  height: 100%;

  .ant-spin-container {
    height: 100%;
  }
}

.descriptions-item-div {
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  min-height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .ant-tag {
    min-height: 26px;
    display: inline-flex;
    align-items: center;
  }
}

.ant-empty-image {
  .ant-empty-img-default {
    width: 100%;
    height: 100%;
  }
}

.ant-upload-list-text .ant-upload-list-item-name,
.ant-upload-list-picture .ant-upload-list-item-name {
  overflow: hidden;
  width: 0;
  flex: 1;
}

.ant-select-selector,
.ant-input-affix-wrapper,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker-range {
  min-height: 36px;
}

.ant-select-selection-placeholder,
.ant-select-selection-item {
  display: flex;
  align-items: center;
}

.ant-select-arrow {
  right: 7px;
}

.ant-btn {
  box-shadow: none;
}

.ant-btn-primary {
  height: 36px;

}

.ant-input-number-input {
  height: 34px;
}

.ant-form-item-label>label {
  min-height: 36px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.ant-steps-item-container {
  .ant-steps-item-icon {
    border-radius: 999px;
    border: 1px solid #E5E7EB;
    background: #FFF;
    display: inline-flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;

  }

  .ant-steps-icon,
  .ant-steps-item-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.08px;
  }

}

.ant-table,
.ant-form-item-label>label,
.ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
.ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon {
  color: #334155;
}

.ant-steps-item-finish .ant-steps-item-container .ant-steps-item-icon {
  border: 0;
  background: rgba(255, 102, 36, 0.08);
  box-shadow: none
}

.ant-upload-list-picture .ant-upload-list-item {
  border-radius: 4px;
  background: #F8FAFC;
  border: 1px solid #F8FAFC;
  height: 56px;
  padding: 10px 22px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--ant-primary-color);
  }
}

.ant-upload-list-picture-card .ant-upload-list-item {
  padding: 0;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item>div {
  display: flex;
  align-items: center;
}

.ant-input-affix-wrapper,
.ant-input-number,
.ant-input[disabled],
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-btn-default,
.descriptions-item-div,
.descriptions-item-div .ant-tag,
.ant-upload-list-picture-card .ant-upload-list-item {
  border: 1px solid var(--gray-200, #E2E8F0);
}

.ant-image-img {
  height: 100%;
}